.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008000; /* Verde */
  padding: 20px;
  color: #FFFFFF; /* Blanco */
  font-family: Arial, sans-serif;
}

.footer-links, .footer-center, .footer-social {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links img {
  display: block;
  margin: 0 auto;
}

.footer-center {
  text-align: center;
}

.footer-center h4 {
  margin-bottom: 10px;
}

.footer-center p {
  margin: 10px 0;
}

.footer-center hr {
  border: 1px solid #CCCCCC; /* Gris claro */
  width: 80%;
  margin: 10px auto;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
}
